body {  margin:0;padding:0;font: 12px/15px;font-family: "Helvetica Neue", "Open Sans", "Arial", "sans-serif";}
.calculation-box {
    position: absolute;
    bottom:1em;
    left: 50%;
    width:30%;
    margin-left: -15%;
    padding: .5em 1em;
    border-radius: 1em;
    box-shadow: 1em 1en 2em rgba(0,0,0,.5);
    background-color: rgba(0, 0, 0, .65);
    color: #ccc;
    text-align: center;
}

#calculate {
    background-color: #eee;
    color: #555;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    margin: 10px 0;
    transition: background-color 0.5s, color 0.33s;
}

#calculate:hover {
    background-color: #0af;
    color: white;
}

p {
    /* font-family: 'Open Sans'; */
    margin: 0;
    font-size: 13px;
}

#panel, #flip {
    text-align: center;
    background-color: rgba(0, 0, 0, .65);
    color: #ccc;
    padding: 5px;
    position: relative;
    z-index: 2;
 }

#panel {
    background-color: #eee;
    color: #555;
    padding: 50px;
    display: none;
}

#loadingDiv {
    color: #555;
    padding: 50px;
    text-align: center;
    font-size: x-large;
}

#calculationBoxDiv{
    display: none;
}